body {
    color: white;
    background-color: darkblue;
}

.resultado {
    color: yellow;
    background-color: darkred;
}

.tablaResultado {
    color: rgb(124, 53, 77);
    background-color:rgb(0, 255, 136);
}

.resultadoContenido {
    font-size: 10;
}

.tablaResultadoContenido {
    font-size: 10;
}

h1 {
    text-align:center;
}

p {
    text-align: left;
}